<html>
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 12px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="nes/css/styles.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>Contact Me</title>
</head>
<body>
    {% if form.errors %}
        <p style = "color:Red;">
            Please Correct the error{{ form.errors|pluralize}} below:
        </p>
    {%endif%}
    
    <form action "" method="post">
        <table>
            <div class="field">
                <tr><td><label for="id_subject">Subject:</label></td>
                <td>{{form.subject}}</td>
                <td>{{form.subject.errors }}</td></tr>
            </div>
            <div class="field">
                <tr><td><label for="id_email">Email:</label></td>
                <td>{{form.email}}</td>
                <td>{{form.email.errors}}</td></tr>
            </div>
            <div class="field">
                <tr><td><label for"id_message">Message:</label></td>
                <td>{{form.message}}</td>
                <td>{{form.message.errors}}</td></tr>
            </div> 
            {%csrf_token%}
            <tr><td><input type="submit" value="submit"></td></tr>
        </table>
    </form>
</body>
</html>