<!DOCTYPE html>

<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- <link href="images/favicon.ico" rel="shortcut icon"> -->
    <title>Game Index!</title>
</head>
<body>
    <div class="container">
        <table border = 1>
        <B><TR><TH>TITLE</TH><TH>GENRE</TH><TH>RATING</TH><TH>PUBLISHER</TH><TH>NA RELEASE</TH><TH>EU RELEASE</TH></TR></B>
        {%for game in games%}
            <tr>
                <td>{{game.title}}</td>
                <td>{{game.genre}}</td>
                <td>
                    {% if game.rating == NULL %}
                        Not yet rated.</td>
                    {%else%}
                        {{game.rating}}</td>
                    {%endif%}
                <td>{{game.publisher}}</td>
                <td>{{game.na_release}}</td>
                <td>{{game.eu_release}}</td>
            </td>
        {%endfor%}
    </div>
</body>
</html>